header {
  color: rgb(216, 191, 191);
  background-color: blanchedalmond;
}
h1 {
  color: green;
}
h3 {
  color: ivory;
  background-color: red;
}
footer {
  background-color: light greenyellow;
}
h2 {
  color: white;
  background-color: green;
}
